@model List<RSBrasil.Model.Entidades.Cliente>
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">  Clientes</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div td="clientesView">
                </div>
                @Html.Partial("_ListaClientes", Model)
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
@section Scripts
{
    <script src="~/js/pages/clientes.js"></script>
    <script src="~/js/sweetalert2/sweetalert2.min.js"></script>
}