@model RSBrasil.Model.Entidades.Cliente

@{
    ViewData["Title"] = "Novo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <h2>Adicionando Novo Cliente</h2>
</div>
<hr />
<div id="page-wrapper" style="min-height: 393px;">
    <div class="row">
        <div class="col-lg-12">
            <form asp-action="Novo">
                <div class="panel panel-default">
                    <div class="col-lg-12">
                        <div class="panel-heading">Dados Do cliente</div>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label>CNPJ</label>
                                    <input class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label style="margin-left:60px">Contato</label>
                                    <input class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="control-label" style="margin-left:60px">E-mail</label>
                                    <input class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="control-label" style="margin-left:60px">Razão Social</label>
                                    <input class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label style="margin-left:60px">Nome Fantasia</label>
                                        <input class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label style="margin-left:60px">Telefone</label>
                                    <input class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel-heading">Endereço do cliente</div>
                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="control-label" style="margin-left:60px">CEP</label>
                                    <input class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="control-label" style="margin-left:60px">Logradouro</label>
                                    <input class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="control-label" style="margin-left:60px">Número</label>
                                    <input class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="control-label" style="margin-left:60px">Complemento</label>
                                    <input class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="control-label" style="margin-left:60px">Bairro</label>
                                    <input class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="control-label" style="margin-left:60px">Cidade</label>
                                    <select class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="control-label" style="margin-left:60px">UF</label>
                                    <select class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="control-label" style="margin-left:60px">Pais</label>
                                    <select class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-lg-6">
                            <input type="submit" value="Inserir" class="btn btn-default" />
                        </div>
                        <div class="col-lg-6">
                            <input type="button" value="Voltar" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
</div>

