@{
    Layout = null;
}
<link href="~/Content/login.css" rel="stylesheet" />
<link href="~/Content/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert2/sweetalert2.min.js"></script>
<script src="~/Scripts/pages/login.js"></script>

<div class="container">
    <div class="login-wrap">
        <h2>RSBrasil</h2>

        <div class="form">
            <input type="text" id="txtUsuario" placeholder="Usuário" />

            <input type="password" id="txtSenha" placeholder="Senha" />
            <button class="btn" onclick="Logar()"> Logar </button>
        </div>
    </div>
</div>